.header {
  height: 4rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e8f0;
  box-shadow: var(--shadow-sm);
}

.desktopLinks {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.mobilePopoverContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--radix-popover-content-available-width);
  gap: 0.5rem;
  margin-top: 0.75rem;
  padding: 1rem;
  background-color: var(--background);
  box-shadow: var(--shadow-md);
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}

.mobilePopoverContent[data-state="open"] {
  animation-name: fadeIn;
}

.mobilePopoverContent[data-state="closed"] {
  animation-name: fadeOut;
}

@media (min-width: 640px) {
  .desktopLinks {
    display: block;
  }

  .mobileMenu {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
