.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  text-align: center;
}

.links > * {
  width: 100%;
}

.links a {
  padding: 0.25rem 0.5rem;
  text-underline-offset: 0.25rem;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

@media (min-width: 640px) {
  .links {
    flex-direction: row;
  }

  .links a {
    padding: 0;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .links > * {
    width: auto;
  }
}
